@font-face {
  font-family: 'RocaOneBold';
  src: url('../assets/fonts/roca-one-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBlack';
  src: url('../assets/fonts/Inter-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'InterMedium';
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'InterRegular';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBE8DF;
    margin: 0;
    min-height: 100dvh; /* Dynamic viewport height to prevent mobile browser glitches */
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
}

html {
    scroll-behavior: smooth;
}

.background-img {
    opacity: 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/279.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.logo-title {
    background-color: #222222;
    font-size: 1.3rem;
    font-family: 'RocaOneBold', sans-serif;
    text-shadow: 2px 2px 0 #6b0000;
    color: #EBC626;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.7rem;
}

.logo-title h1:hover {
    cursor: pointer;
}

.logo-title img:hover{
    cursor: pointer;
}

.logo-title img {
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 4rem;
    width: 4rem;
}

.hamburger-btn {
    display: none;
}

.hamburger-btn {
    cursor: pointer;
}

.nav-bar {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1.2rem;
    color: #222222;
    text-shadow: 2px 2px 0 #EBC626;
    display: inline-block;
    padding: 10px 20px; 
    border-radius: 20px;
    
}


.nav-link::before {
    content: "";
    position: absolute;

    width: 180px;
    height: 100px;

    background-image: url("../images/SpeechBubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    opacity: 0;
    transition: 0.2s ease;

    z-index: -1;
}

.nav-link:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


/* Home Page & Partial Universal Styling */

#hero-home {
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#home-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 30rem;
}

.hero-bold {
    font-family: 'InterBlack', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-normal {
    font-family: 'InterMedium', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#start-btn1 {
    cursor: pointer;
    color: #222222;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

#start-btn2 {
    cursor: pointer;
    color: #EBC626;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

#start-btn1:hover {
    cursor: pointer;
    color: #4b4b4b;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

#start-btn2:hover {
    cursor: pointer;
    color: #c3a41b;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

.container1 {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    padding: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: transparent;
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.heading-style-1 {
    font-family: 'RocaOneBold', sans-serif;
    font-size: 2rem;
    color: #EBC626;
    text-shadow: 2px 2px 0 #6b0000;
    margin-bottom: 1rem;
}

.heading-style-2 {
    font-family: 'RocaOneBold', sans-serif;
    font-size: 2rem;
    color: #222222;
    text-shadow: 2px 2px 0 #EBC626;
    margin-bottom: 1rem;
}

footer {
    background-color: #222222;
    color: #EBC626;
}

footer img {
    margin-top: 0.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section-layout {
    position: relative;
    flex-direction: column;
    padding: 1rem;
}

.card-grid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 25rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
}

.card h3 {
    font-family: 'InterBlack', sans-serif;
    font-size: 1.3rem;
    color: #EBC626;
}

.container2 .card h3 {
    color: #222222;
}

.card-img {

    height: 6rem;
    width: 5rem;
    border: 0.2rem solid #888888;
    border-radius: 50%;
    background-color: #EBE8DF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    flex-shrink: 0;
}

.page-link1 {
    color: #EBC626;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: 0;
    font-family: 'InterMedium', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.page-link1:hover {
    color: #836e14;
}

.page-link2 {
    color: #222222;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: 0;
    font-family: 'InterMedium', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.page-link2:hover {
    color: #706f6f;
}

.recommended-grid {
    justify-content: center;
    gap: 8rem;
}

.character-grid {
    background-color: #222222;
    border-radius: 10px;
    padding: 1rem;
    width: auto;
}

.character-grid .card-img {
    height: 5rem;
    width: 4rem;
    border-width: 0.2rem;
}

#char-card {
    transition: transform 0.3s ease;
    cursor: pointer;
}


#char-card img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

#char-card:hover {
    transform: scale(1.2);
}

.guide-card {
    width: 7rem;
    height: auto;
    border: 0.1rem solid #222222;
    border-radius: 0%;
    background-color: #EBE8DF;
    position: relative;
    flex-shrink: 0;
}

.guide-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.reading {
    width: 7rem;
    height: auto;
    border: 0.1rem solid #EBE8DF;
    border-radius: 0%;
    background-color: #EBE8DF;
    position: relative;
    flex-shrink: 0;
}

.reading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.lingo-section {
    position: relative;
    padding: 1rem;
}

.lingo-section h2 {
    margin-bottom: 1.5rem;
}

.lingo-section p {
    font-family: 'InterMedium', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

/*/////////////////////////////////////////////*/


/* Characters Page & Partial Universal Styling */

#char-pg-title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

#charsPage-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 24rem;
}

#pop-chars-title {
    width: 15rem;
    padding-left: 2rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.search-input {
    width: 35rem;
    padding: 16px;
    border: 3px solid #222222;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 20px;
}

.filter-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.filter-buttons button {
    background: #EBC626;
    border: 3px solid #222222;
    border-radius: 20px;
    height: 50px;
    padding: 12px 22px;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 4px 4px 0 #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

.character-card  {
    padding-top: 1rem;
    margin-left: 1rem;
    font-family: 'RocaOneBold', sans-serif;
    color: #EBC626;
    text-shadow: 2px 2px 0 #6b0000;
}

#pop-char-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: fit-content;
    margin: 0 auto;
}


#pop-char-grid .card {
    justify-content: center;
}

#container-char {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.character-preview {
    position: relative;
    z-index: 1;
}

.character-tooltip {
    display: none;
    position: absolute;
    left: 80%;
    top: -50%;
    width: 220px;
    background: #EBE8DF;
    color: #222222;
    border: 3px solid #222222;
    padding: 1rem;
    font-family: 'InterMedium', sans-serif;
    font-size: 0.9rem;
    z-index: 100;
    box-shadow: 4px 4px 0 #222222;
}

.character-preview:hover .character-tooltip {
    display: block;
    z-index: 10;
}

.character-preview:hover {
    z-index: 50;
}

#container-char h3 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.char-id-title{
     margin-bottom: 1rem;
}

.char-id-title p {
    font-family: 'InterMedium', sans-serif;
    text-shadow: none;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
}

.key-universes {
    margin-bottom: 1rem;
}

.key-universes p {
    font-family: 'InterMedium', sans-serif;
    text-shadow: none;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
}

.story-arcs {
    margin-bottom: 1.5rem;
}

.story-arcs li {
    font-family: 'InterMedium', sans-serif;
    font-size: 1.2rem;
    text-shadow: none;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
}

.selected-card {
    border: 4px solid #EBC626;
    border-radius: 10px;
    transition: 0.3s ease;
}


/*/////////////////////////////////////////////*/


/* Beginner Guides Page & Partial Universal Styling */
#hero-guides {
    background-color: #222222;
    color: #EBC626;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#guidesPage-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 20rem;   
}

#hero-guides a {
    color: #EBC626;
}

#guides-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guides-tools {
    background-color: #222222;
    padding-top: 2rem;
}

.char-guide {
    background-color: #222222;
}

#guide-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-guides {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-guides h3 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.char-intro {
    margin-bottom: 1rem;
}

.char-intro p {
    font-family: 'InterMedium', sans-serif;
    font-size: 1.1rem;
    text-shadow: none;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
}

.beginner-guide {
    padding: 1.3rem;
    margin-bottom: 2rem;
}

.beginner-guide li {
    font-family: 'InterMedium', sans-serif;
    font-size: 1.2rem;
    text-shadow: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/*/////////////////////////////////////////////*/


/* Recommendations Page & Partial Universal Styling */
#hero-recommend {
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#recommend-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 33rem;
}

#recommend-container {
    padding-left: 2rem;
    height: auto;
}

#recommend-container h2 {
    width: 10rem;
}

.grid-container {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    height: auto;
}

#r-grid-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#r-list-title {
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1.2rem;
    color: #EBC626;
    text-shadow: 2px 2px 0 #6b0000;
    margin-bottom: 0.5rem;   
    margin-left: 2rem; 
}

.recommendation-title {
    position: relative;
    display: inline-block;
}

.recommendation-note {
    display: none;
    position: absolute;
    left: 102%;
    top: -75%;
    width: 220px;
    background-color: #EBE8DF;
    text-shadow: none;
    color: #222222;
    border: 3px solid #222222;
    padding: 1rem;
    font-family: 'InterMedium', sans-serif;
    font-size: 0.9rem;
    z-index: 100;
    box-shadow: 4px 4px 0 #EBC626;
}

.recommendation-title:hover .recommendation-note {
    display: block;
}
/*/////////////////////////////////////////////*/

/* Glossary Page & Partial Universal Styling */
#hero-glossary {
    background-color: #222222;
    color: #EBC626;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#glossaryPage-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 13rem;   
}

#glossaryPage-img-radiant img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 20rem;    
}

#hero-glossary a {
    display: flex;
    color: #EBC626;
    justify-content: right;
    align-items: 0;
}

.glossary-term-section {
    padding: 1rem 2rem 2rem;
}

.glossary-term-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 5rem;
}

.glossary-term {
    background-color: #888888;
    color: #EBE8DF;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1.3rem;
    text-shadow: 2px 2px 0 #222222;
    cursor: pointer;
}

.glossary-term:hover {
    background-color: #222222;
    color: #EBC626;
}

.glossary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

.glossary-container h2 {
    font-size: 2rem;
}

/*/////////////////////////////////////////////*/
















.filter-panel {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border: 3px solid #111;
    background: white;
}

.filter-panel-open {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.active-filter {
    background: #ffd000;
    font-weight: bold;
}





/*accordion*/

.accordion-toggle {
    width: 100%;
    background: none;
    border: none;
    color: #EBC626;
    font-family: 'RocaOneBold', sans-serif;
    font-size: 2rem;
    cursor: pointer;
    text-shadow: 2px 2px 0 #6b0000;
}

.accordion-content {
    display: none;
    margin-top: 1rem;
}

.accordion-content.accordion-open {
    display: block;
}



/* ================================================= */
/* TABLET RESPONSIVE DESIGN */
/* ================================================= */

@media (max-width: 768px) {

    /* ===================================== */
    /* GLOBAL */
    /* ===================================== */

    .nav-bar {
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .nav-link {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .heading-style-1 {
        font-size: 1.8rem;
    }

    .heading-style-2 {
        font-size: 1.8rem;
    }

    .card-grid {
        gap: 1rem;
    }

    .card {
        max-width: 16rem;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card-img {
        width: 4rem;
        height: 5rem;
    }

    .footer-content {
        flex-wrap: wrap;
        text-align: center;
    }

    .search-bar {
        flex-wrap: wrap;
    }

    .search-input {
        width: 15rem;
        height: auto;
    }

    /* ===================================== */
    /* HOME PAGE */
    /* ===================================== */

    #hero-home {
        padding: 1rem;
        gap: 1rem;
    }

    #home-img img {
        width: 22rem;
    }

    .hero-bold {
        font-size: 2rem;
    }

    .hero-normal {
        font-size: 1.1rem;
    }

    .recommended-grid {
        gap: 3rem;
    }

    /* Popular Characters Section */

    .character-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        gap: 1rem;
    }

    .guide-card {
        width: 5rem;
        height: auto;
    }

    .reading {
        width: 5rem;
        height: auto;
    }

    /* ===================================== */
    /* CHARACTERS PAGE */
    /* ===================================== */

    #char-pg-title {
        font-size: 2.5rem;
    }

    #charsPage-img img {
        width: 18rem;
    }

    #pop-chars-title {
        width: 10rem;
    }

    .character-card {
        padding-right: 1rem;
    }

    /* ===================================== */
    /* BEGINNER GUIDES PAGE */
    /* ===================================== */

    #hero-guides {
        gap: 1rem;
        padding: 1rem;
    }

    #guidesPage-img img {
        width: 14rem;
    }

    #guides-container {
        padding: 1rem;
    }

    /* ===================================== */
    /* RECOMMENDATIONS PAGE */
    /* ===================================== */

    #hero-recommend {
        gap: 1rem;
        padding: 1rem;
    }

    #recommend-img img {
        width: 22rem;
    }

    #recommend-container {
        padding-left: 1rem;
    }

    .grid-container {
        padding: 1rem;
    }

    /* ===================================== */
    /* GLOSSARY PAGE */
    /* ===================================== */

    #hero-glossary {
        gap: 1rem;
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #glossaryPage-img img {
        width: 10rem;
    }

    #glossaryPage-img-radiant img {
        width: 14rem;
    }

    .glossary-term-grid {
        gap: 1rem 2rem;
    }

    .glossary-term {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .glossary-container {
        padding: 1rem;
    }
}

/* ================================================= */
/* MOBILE RESPONSIVE DESIGN */
/* ================================================= */

@media (max-width: 480px) {

    /* ===================================== */
    /* GLOBAL */
    /* ===================================== */

    .logo-title {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        text-align: center;
    }

    .logo-title h1 {
        font-size: 2rem;
    }

    .hamburger-btn {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        margin: 0 auto;
    }

    .nav-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav-bar.nav-open {
        display: flex;
    }

    .nav-bar {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-link {
        width: 40%;
        text-align: center;
        font-size: 1rem;
    }

    .heading-style-1,
    .heading-style-2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-grid {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        justify-content: center;
    }

    .card h3 {
        font-size: 1rem;
    }

    .search-bar {
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        width: 12rem;
        height: 1rem;
        margin-bottom: 0;
    }

    .filter-buttons {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .page-link1,
    .page-link2 {
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    /* ===================================== */
    /* HOME PAGE */
    /* ===================================== */

    #hero-home {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    #home-img img {
        width: 16rem;
    }

    .hero-bold {
        font-size: 1.8rem;
    }

    .hero-normal {
        font-size: 1rem;
    }

    .recommended-grid {
        flex-direction: column;
        gap: 2rem;
    }

    .character-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 1rem;
    }

    /* ===================================== */
    /* CHARACTERS PAGE */
    /* ===================================== */

    #char-pg-title {
        font-size: 2rem;
    }

    #charsPage-img img {
        width: 14rem;
    }

    .character-card {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .character-tooltip {
        width: 10rem;
        font-size: 0.8rem;
    }

    #pop-char-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: fit-content;
        margin: 0 auto;
    }

    /* ===================================== */
    /* BEGINNER GUIDES PAGE */
    /* ===================================== */

    #hero-guides {
        flex-direction: column;
        text-align: center;
    }

    #guidesPage-img img {
        width: 12rem;
    }

    #guides-container {
        padding: 0.5rem;
    }

    /* ===================================== */
    /* RECOMMENDATIONS PAGE */
    /* ===================================== */

    #hero-recommend {
        flex-direction: column;
        text-align: center;
    }

    #recommend-img img {
        width: 16rem;
    }

    .recommended-list {
        padding: 0.5rem;
    }

    .recommendation-note {
        width: 10rem;
        font-size: 0.8rem;
    }

    /* ===================================== */
    /* GLOSSARY PAGE */
    /* ===================================== */

    #hero-glossary {
        flex-direction: column;
        text-align: center;
        margin: 0.5rem;
    }

    #glossaryPage-img img {
        width: 8rem;
    }

    #glossaryPage-img-radiant img {
        width: 12rem;
    }

    .glossary-term-grid {
        gap: 1rem;
    }

    .glossary-term {
        width: 80%;
        font-size: 1rem;
    }

    .glossary-container {
        padding: 0.5rem;
    }
}