@font-face {
  font-family: 'RocaOneBold';
  src: url('../assets/fonts/roca-one-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBlack';
  src: url('../assets/fonts/Inter-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'InterMedium';
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'InterRegular';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBE8DF;
    margin: 0;
    min-height: 100dvh; /* Dynamic viewport height to prevent mobile browser glitches */
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
}

html {
    scroll-behavior: smooth;
}

.background-img {
    opacity: 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/279.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.logo-title {
    background-color: #222222;
    font-size: 1.3rem;
    font-family: 'RocaOneBold', sans-serif;
    text-shadow: 2px 2px 0 #6b0000;
    color: #EBC626;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo-title h1:hover {
    cursor: pointer;
}

.logo-title img:hover{
    cursor: pointer;
}

.logo-title img {
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 4rem;
    width: 4rem;
}

.nav-bar {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1.2rem;
    color: #222222;
    text-shadow: 2px 2px 0 #EBC626;
    display: inline-block;
    padding: 10px 20px; 
    border-radius: 20px;
    
}

/* Hidden bubble
/
/
/
/
/
/
/
/ */
.nav-link::before {
    content: "";
    position: absolute;

    width: 180px;
    height: 100px;

    background-image: url("../images/SpeechBubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    opacity: 0;
    transition: 0.2s ease;

    z-index: -1;
}

/* Show bubble on hover */
.nav-link:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
/*
/
/
/
/
/
/
*/

/* Home Page & Partial Universal Styling */

#hero-home {
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#home-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 30rem;
}

.hero-bold {
    font-family: 'InterBlack', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-normal {
    font-family: 'InterMedium', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#start-btn1 {
    cursor: pointer;
    color: #222222;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

#start-btn2 {
    cursor: pointer;
    color: #EBC626;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

#start-btn:hover {
    cursor: pointer;
    color: #4b4b4b;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.5rem;
}

.container1 {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: none;
    height: auto;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.heading-style-1 {
    font-family: 'RocaOneBold', sans-serif;
    font-size: 2rem;
    color: #EBC626;
    text-shadow: 2px 2px 0 #6b0000;
    margin-bottom: 0.5rem;
}

.heading-style-2 {
    font-family: 'RocaOneBold', sans-serif;
    font-size: 2rem;
    color: #222222;
    text-shadow: 2px 2px 0 #EBC626;
    margin-bottom: 0.5rem;
}

footer {
    background-color: #222222;
    color: #EBC626;
}

footer img {
    margin-top: 0.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}





.section-layout {
    position: relative;
    flex-direction: column;
    padding: 1rem;
}

.card-grid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 25rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
}

.card h3 {
    font-family: 'InterBlack', sans-serif;
    font-size: 1.3rem;
    color: #EBC626;
}

.container2 .card h3 {
    color: #222222;
}

.card-img {
    height: 6rem;
    width: 5rem;
    border: 0.5rem solid #888888;
    background-color: #EBE8DF;
    position: relative;
    flex-shrink: 0;
}

.card-img::before,
.card-img::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125%;
    height: 1px;
    background-color: #222222;
}

.card-img::before {
    transform: translate(-50%, -50%) rotate(50deg);
}

.card-img::after {
    transform: translate(-50%, -50%) rotate(-50deg);
}


.page-link1 {
    color: #EBC626;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: 0;
    font-family: 'InterMedium', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.page-link1:hover {
    color: #836e14;
}

.page-link2 {
    color: #222222;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: 0;
    font-family: 'InterMedium', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.page-link2:hover {
    color: #706f6f;
}

.recommended-grid {
    justify-content: center;
    gap: 8rem;
}

.character-grid {
    background-color: #888888;
    border-radius: 10px;
    padding: 1rem;
    width: auto;
}

.character-grid .card-img {
    height: 5rem;
    width: 4rem;
    border-width: 0.2rem;
}

#char-card {
    transition: transform 0.3s ease;
    cursor: pointer;
}

#char-card:hover {
    transform: scale(1.2);
}

.lingo-section {
    position: relative;
    padding: 1rem;
}

.lingo-section p {
    font-family: 'InterMedium', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

/*/////////////////////////////////////////////*/


/* Characters Page & Partial Universal Styling */

#char-pg-title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

#charsPage-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 24rem;
}

#pop-chars-title {
    width: 15rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.search-input {
    width: 35rem;
    padding: 16px;
    border: 3px solid #222222;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 20px;
}

.filter-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.filter-buttons button {
    background: #EBC626;
    border: 3px solid #222222;
    border-radius: 20px;
    height: 50px;
    padding: 12px 22px;
    font-family: 'InterBlack', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 4px 4px 0 #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

.character-card  {
    padding-top: 1rem;
    margin-left: 1rem;
    font-family: 'RocaOneBold', sans-serif;
    color: #EBC626;
    text-shadow: 2px 2px 0 #6b0000;
}

#pop-char-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: fit-content;
    margin: 0 auto;
}


#pop-char-grid .card {
    justify-content: center;
}



.character-preview {
    position: relative;
    z-index: 1;
}

.character-tooltip {
    display: none;
    position: absolute;
    left: 80%;
    top: -50%;
    width: 220px;
    background: #EBE8DF;
    color: #222222;
    border: 3px solid #222222;
    padding: 1rem;
    font-family: 'InterMedium', sans-serif;
    font-size: 0.9rem;
    z-index: 100;
    box-shadow: 4px 4px 0 #222222;
}

.character-preview:hover .character-tooltip {
    display: block;
    z-index: 10;
}


.character-preview:hover {
    z-index: 50;
}


/*/////////////////////////////////////////////*/


/* Beginner Guides Page & Partial Universal Styling */
#hero-guides {
    background-color: #222222;
    color: #EBC626;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#guidesPage-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 20rem;   
}

#hero-guides a {
    color: #EBC626;
}

#guides-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guides-tools {
    background-color: #222222;
    padding-top: 2rem;
}

.char-guide {
    background-color: #222222;
}

#guide-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/////////////////////////////////////////////*/


/* Recommendations Page & Partial Universal Styling */
#hero-recommend {
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#recommend-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 33rem;
}

#recommend-container {
    padding-left: 2rem;
    height: auto;
}

#recommend-container h2 {
    width: 10rem;
}

.grid-container {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    height: auto;
}

#r-grid-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#r-list-title {
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1.2rem;
    color: #EBC626;
    text-shadow: 2px 2px 0 #6b0000;
    margin-bottom: 0.5rem;   
    margin-left: 2rem; 
}

.recommendation-title {
    position: relative;
    display: inline-block;
}

.recommendation-note {
    display: none;
    position: absolute;
    left: 102%;
    top: -75%;
    width: 220px;
    background-color: #EBE8DF;
    text-shadow: none;
    color: #222222;
    border: 3px solid #222222;
    padding: 1rem;
    font-family: 'InterMedium', sans-serif;
    font-size: 0.9rem;
    z-index: 100;
    box-shadow: 4px 4px 0 #EBC626;
}

.recommendation-title:hover .recommendation-note {
    display: block;
}
/*/////////////////////////////////////////////*/

/* Glossary Page & Partial Universal Styling */
#hero-glossary {
    background-color: #222222;
    color: #EBC626;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#glossaryPage-img img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 13rem;   
}

#glossaryPage-img-radiant img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    width: 20rem;    
}

#hero-glossary a {
    display: flex;
    color: #EBC626;
    justify-content: right;
    align-items: 0;
}

.glossary-term-section {
    padding: 1rem 2rem 2rem;
}

.glossary-term-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 5rem;
}

.glossary-term {
    background-color: #888888;
    color: #EBE8DF;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1.3rem;
    text-shadow: 2px 2px 0 #222222;
    cursor: pointer;
}

.glossary-term:hover {
    background-color: #222222;
    color: #EBC626;
}

.glossary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

.glossary-container h2 {
    font-size: 2rem;
}

/*/////////////////////////////////////////////*/
















.filter-panel {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border: 3px solid #111;
    background: white;
}

.filter-panel-open {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.active-filter {
    background: #ffd000;
    font-weight: bold;
}





/*accordion*/

.accordion-toggle {
    width: 100%;
    background: none;
    border: none;
    color: #EBC626;
    font-family: 'RocaOneBold', sans-serif;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    text-shadow: 2px 2px 0 #6b0000;
}

.accordion-content {
    display: none;
    margin-top: 1rem;
}

.accordion-content.accordion-open {
    display: block;
}